@import "../../variables";

.course-form{
  padding: 3rem 3.5rem;
  border: 2px solid $black900;
  border-radius: .8rem;

  &__head{
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
    border: none;
    padding: 0;
    margin: 0 0 3rem;
  }

  &__input{
    margin: 0 0 1.5rem;

    &:last-child{
      margin: 0;
    }

    &--title{
      flex: 0 1 50%;
      margin: 0 auto 0 0;
    }
  }

  &__textarea{

    &--description{
      flex: 1 0 100%;
    }
  }

  &__body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
    border: none;
    margin: 0;
  }

  &__group{
    padding: 3rem 4rem 4rem;
    background-color: rgba($black900,.03);
    border-radius: .8rem;
    border: 1px solid rgba($black900,.1);
  }

  &__group-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 2rem;
  }

  &__author-list{
    padding: 2.4rem 0 0;
  }
}