.search-bar{
  display: flex;
  border-radius: .6rem;
  overflow: hidden;

  &__control{
    flex: 1 0 auto;
  }

  &__search-btn{
    flex: 0 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__input{
    flex: 1 0 auto;

    .input__control{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}