@import "../../../../helpers";

.authors-list{
  @extend %listreset;

  &__item{
    display: flex;
    align-items: center;
    margin: 0 0 1rem;

    &:last-child{
      margin: 0;
    }
  }

  &__name{
    font-size: 1.6rem;
    font-weight: 600;
    flex: 1 0 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}