// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// link reset
%linkreset {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}

// clearfix
%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// button reset
%buttonreset {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font: inherit;

  &:focus{
    outline: none;
  }
}

// no wrap
%nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}