@import "../../variables";
@import "../../mixins";

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: .6rem;
  background-color: transparent;

  &--size{

    &--sm{
      font-size: 1.1rem;
      line-height: 1.36;
      padding: .8rem 1.5rem;
    }

    &--md{
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 1.2rem 2.2rem;
    }

    &--lg{
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 1.8rem 2.8rem;
    }
  }

  &--style{
    &--outline-black{
      color: $black900;
      box-shadow: inset 0 0 0 2px $black900;
      background-color: rgba($black900,.1);
      @include animate(color background-color);

      &:hover{
        color: #fff;
        background-color: $black900;
      }
    }

    &--outline-white{
      color: $white;
      box-shadow: inset 0 0 0 2px $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: inset 0 0 0 2px $accent;
      }
    }

    &--solid-yellow{
      background-color: $accent;
      color: $black900;
      border: none;
      @include animate(background-color);

      &:hover{
        background-color: darken($accent, 4%);
      }
    }

    &--solid-black{
      background-color: $black800;
      color: $white;
      border: none;
      @include animate(background-color);

      &:hover{
        background-color: $black900;
      }
    }
  }

  &--fluid{
    width: 100%;
  }
}