@import "../../variables";
@import "../../mixins";

.input {
  display: block;

  $this: &;

  &__label-title{
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0 0 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  &__control {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
    line-height: 1.25;
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    border-radius: .6rem;
    margin: 0 0 .5rem;

    &:last-child{
      margin: 0;
    }

    @include placeholder() {
      font-family: inherit;
      font-size: 1.6rem;
      line-height: 2rem;
      color: rgba($black900, .5);
      @include animate(opacity);
    }

    &:focus{
      @include placeholder() {
        opacity: 0;
      }
    }
  }

  &--style {

    &--black-outline {
      color: $black900;

      #{$this}__control{
        box-shadow: inset 0 0 0 1px $black900;
        background-color: $white;
        color: $black900;
        @include animate(box-shadow);

        &:focus {
          box-shadow: inset 0 0 0 2px $accent;
        }
      }
    }

    &--white-solid {
      color: $black900;

      #{$this}__control{
        background-color: $white;
        color: $black900;
        @include animate(box-shadow);

        &:focus {
          box-shadow: inset 0 0 0 2px $accent;
        }
      }
    }
  }
}