@import "../../variables";
@import "../../helpers";

.course-info{

  &__head{
    display: flex;
    align-items: flex-start;
    padding: 0 0 3rem;
    margin: 0 0 3rem;
    border-bottom: 1px dotted rgba($black900, .3);
  }

  &__title{
    @extend %nowrap;
    flex: 1 1;
    min-width: 0;
    margin: 0;
  }

  &__back-btn{
    margin-top: .5rem;
  }
}

.course-desc{
  display: flex;
  gap: 3rem;
  padding: 0 0 3rem;
  margin: 0 0 4rem;
  border-bottom: 1px solid $black900;

  &:last-child{
    margin: 0;
    padding: 0;
    border: none;
  }

  &__col:first-child{
    flex: 1 0 70%;
  }

  &__col:last-child{
    flex: 0 1 30%;
    min-width: 0;
  }

  &__title{
    font-size: 2.6rem;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 1.2rem;
  }

  &__description{
    margin: 0;
  }
}