.short-message{
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  border-radius: 4px;

  &--info{
    background-color: lightblue;
    color: darkblue;
  }

  &--alert{
    background-color: #ffbfbf;
    color: red;
  }
}