@import "../../variables";
@import "../../helpers";

.header{
  border-bottom: 2px solid $black900;

  &__container{
    display: flex;
    align-items: center;
  }

  &__logo{
    @extend %linkreset;
    margin: 0 auto 0 0;
    display: block;
  }

  &__logo-img{
    display: block;
  }

  &__user{
    margin: 0 3rem;
    font-weight: bold;
  }
}